div.content.pure-g-r
  div.header.pure-u-1
    div.pure-menu.pure-menu-open.pure-menu-horizontal
      a.pure-menu-heading(href='/#') STRIKE!
      ul
        li
          a(href='/car') Car
        li
          a(href='/train') Train
        li
          a(href='/boat') Boat
        li
          a(href='/bus') Bus
        li
          a(href='/scooter') Scooter
        li
          a(href='/couch') Internet